<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<title>Удалить Предмет</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Вы уверены, что хотите удалить предмет "{{ object }}"?</h1>
            <form method="post">
                {% csrf_token %}
                <button type="submit">Удалить</button>
            </form>
            <a href="{% url 'index' %}">Отмена</a>
        </div>
    </body>
</html>
